body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: left;
    margin: 0;
    font-size: 115%;
    background: #121212;
    overflow-wrap: anywhere;
    color: #d9d9d9;
}

#container {
    width: 1440px;
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
}

/* navbar */
#navbar{
    position: relative;
    height: 71px;
    left: 0px;
    top: -22px;
    margin: auto;
    background: #191923;
}

/* Rectangle 2 */
#navbar_line {
    position: relative;
    height: 1px;
    left: 0px;
    top: 25px;
    margin: auto;
    background: rgba(157, 122, 255, 0.33);
}

p.alt-color {
   color: rgba(255, 255, 255, 0.57);
}

/* GIFLEX */
a.giflex,
h1.giflex{
    position: relative;
    width: 143px;
    height: 49px;
    left: 209px;
    top: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-decoration: none;
    color: #FFFFFF;
}

#main {
    width: 1376px;
    height: 783px;
    margin: auto;
    background: #191923;
    border-radius: 14px;
    padding: 18px 18px 18px 46px;
}

.character-card{
    position: absolute;
    width: 150px;
    height: 197px;
    left: 379px;
    top: 313px;
    margin: auto;

    background: #27263A;
    border-radius: 12px;
}
#character-card-name {
    position: relative;
    height: 39px;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    background: rgba(255, 191, 27, 0.74);
}
h3.character-card-name {
    display: table-cell;
    vertical-align: middle;

}

#character-card-img{
    position: relative;
    width: 150px;
    height: auto;
    top: 22px;
}

input[type=submit] {
    width: 160px;
    height: 43px;
    left: 1044px;
    top: 871px;

    background: #9D75F3;
    border-radius: 23px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
    border-width: 0px;
    border-radius: 23px;

    color: #FFFFFF;
}

button {
    padding-left: 32px;
    padding-right: 32px;
    margin: 4px;
    height: 43px;
    left: 1044px;
    top: 871px;

    background: #9D75F3;
    border-radius: 23px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
    border-width: 0px;
    border-radius: 23px;

    color: #FFFFFF;
}
a.add-character-button {
    text-decoration: none;
}
a.add-character-button:hover {
    color: #251e3a;
    cursor: pointer;
}
a.add-character-button:visited {
    color: #FFFFFF;
}

input[type=submit]:hover {
    color: #251e3a;
    cursor: pointer;
}

#add-artifact-form{
    margin: auto;
    width: 428px;
    height: 510px;
    left: 644px;
    top: 277px;
}

#save-button {
    position: relative;
}

input[type=submit].add-character {
    width: 199px;
}

#add-character-button {
    position: relative;
    /*left: 1133px;*/
    /*top: 54px;*/
}

.characters-tray {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin: auto;
}

.item {
    width: 150px;
    height: 212px;
    margin: 18px;
    position: relative;

    background: #27263A;
    border-radius: 12px;
}

.hyperspan
{
    /*background: red;*/
    /*opacity: .3;*/
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:1;
}

.add-character-form {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    width: 662px;
    height: 328px;
    left: 388px;
    top: 366px;
}

#character-form-tray {
    width: 662px;
    height: 328px;
    left: 388px;
    top: 366px;
}

.add-character-centre {
    position: relative;
}

button.add-character-button {
    width: 200px;
}
