body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: left;
    margin: 0;
    font-size: 115%;
    background: #121212;
    overflow-wrap: anywhere;
    color: #d9d9d9;
}

#container {
    width: 1440px;
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.artifacts {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
}

/* navbar */
#navbar {
    position: relative;
    height: 71px;
    left: 0px;
    top: -22px;
    margin: auto;
    background: #191923;
}

/* Rectangle 2 */
#navbar_line {
    position: relative;
    height: 1px;
    left: 0px;
    top: 25px;
    margin: auto;
    background: rgba(157, 122, 255, 0.33);
}

p.alt-color {
    color: rgba(255, 255, 255, 0.57);
}

/* GIFLEX */
a.giflex,
h1.giflex {
    position: relative;
    width: 143px;
    height: 49px;
    left: 209px;
    top: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-decoration: none;
    color: #FFFFFF;
}

#main {
    width: 1226px;
    min-height: 847px;
    margin: auto;
    background: #191923;
    border-radius: 14px;
    padding: 18px 18px 18px 46px;
}

.character-card {
    position: absolute;
    width: 150px;
    height: 197px;
    left: 379px;
    top: 313px;
    margin: auto;

    background: #27263A;
    border-radius: 12px;
}

p.artifact-set-letter {
    font-size: 16px;
    line-height: 131.7%;
}


.character-card-status {
    position: relative;
    width: 151px;
    height: 175px;
    background: #27263A;
    border-radius: 12px;
    padding-top: 1px;
    text-align: center;
}

#character-card-name {
    position: relative;
    height: 39px;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    background: rgba(255, 191, 27, 0.74);
}

h3.character-card-name {
    display: table-cell;
    vertical-align: middle;

}

#character-card-img {
    position: relative;
    width: 150px;
    height: auto;
    top: 22px;
}

input[type=submit] {
    width: 160px;
    height: 43px;
    left: 1044px;
    top: 871px;

    background: #9D75F3;
    border-radius: 23px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
    border-width: 0px;
    border-radius: 23px;

    color: #FFFFFF;
}

button {
    padding-left: 32px;
    padding-right: 32px;
    margin: 4px;
    height: 43px;
    left: 1044px;
    top: 871px;

    background: #9D75F3;
    border-radius: 23px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;
    border-width: 0px;
    border-radius: 23px;

    color: #FFFFFF;
}

a.add-character-button {
    text-decoration: none;
}

a.add-character-button:hover {
    color: #251e3a;
    cursor: pointer;
}

a.add-character-button:visited {
    color: #FFFFFF;
}

input[type=submit]:hover {
    color: #251e3a;
    cursor: pointer;
}

.add-artifact-tray {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
}

.add-artifact-form {

}

.artifact-box-add {
    height: 225px;
}

#save-button {
    position: relative;
}

input[type=submit].add-character {
    width: 199px;
}

.characters-tray {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin: auto;
}

.item {
    width: 150px;
    height: 212px;
    margin: 18px;
    position: relative;

    background: #27263A;
    border-radius: 12px;
}

.hyperspan {
    /*background: red;*/
    /*opacity: .3;*/
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.add-character-card {
    width: 150px;
    height: 212px;
    margin: 18px;
    position: relative;

    background: #27263A;
    border-radius: 12px;
}

#character-form-tray {
    position: relative;
    width: 662px;
    height: 328px;
    left: 388px;
    top: 366px;
}

.add-character-centre {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.add-character-form {
    margin: 10px;
}

#add-character-tray {
    /*position: relative;*/
    height: 416px;
    width: 571px;
    left: 399px;
}

button.add-character-button {
    width: 200px;
}

.character-status-card {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

.artifact {
    position: relative;
    width: 204px;
    height: 224px;
    margin: 27px;
    position: relative;
    background: #27263A;
    border-radius: 12px;
}

.artifact-box {
    text-align: center;
    position: relative;
    top: -56px;
}

.artifact-set-name {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: -0.02em;
    position: relative;
}

.artifact-mainstat {
    background: rgba(157, 122, 255, 0.33);
    position: relative;
    top: -18px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: -36px;
    color: #FFFFFF;
}

.artifact-substat {
    margin-bottom: -10px;
}

.add-artifact-plus-h {
    position: relative;
    width: 100px;
    height: 15px;
    left: 52px;
    top: 109px;
    background: #424252;
}

.add-artifact-plus-v {
    position: relative;
    width: 100px;
    height: 15px;
    left: 52px;
    top: 92px;
    background: #424252;
    transform: rotate(90deg);
}

p.artifact-set-type {
    font-size: 16px;
    line-height: 131.7%;
    position: relative;
    top: -59px;
    left: 72px;
}

.artifacts-tray {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.set-back-button {
    position: relative;
    top: 15px;
}
input {
    font-family:inherit;
    font-size: inherit;
}

select {
    background: #27263A;
    padding: 10px;
    font-family:inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.57);
    border:0;
}

input[type=text] {
    background-color: #27263A;
    color: rgba(255, 255, 255, 0.57);
    border: 0;
}

input[type=text]:active {
    background-color: #27263A;
    color: rgba(255, 255, 255, 0.57);
    border: 0;
}

.generate-showcase-button {
    position: relative;
    float: right;
    margin-right: 23px;
}
.images-tray {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.image-of-character {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


h3.character-name {
    position: relative;
    background: #27263A;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.57);
    height: 32px;
    width: 202px;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: auto;
 }

.image {
    position: relative;
    margin: 10px;
    position: relative;
    background: #27263A;
    border-radius: 12px;
}

image:hover {
    border: 2px #9A83CB;
}

.showcase-tray {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.showcase-character-card-status {
    position: relative;
    width: 740px;
    height: 74px;
    left: -11px;
    top: 518px;

    filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.17));
}

p.showcase-artifact-set-rate {
    position: relative;
    height: 25px;
    left: 11px;
    top: 8px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.05em;
    margin-bottom: -16px;
    padding-left: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    background: rgba(0, 5, 5, 0.66);
}

p.showcase-artifact-set-dmg {
    position: relative;
    height: 25px;
    left: 11px;
    top: 8px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-bottom: -18px;
    padding-left: 65px;
    padding-top: 5px;
    background: rgba(0, 5, 5, 0.51);
    padding-bottom: 5px;
}

.showcase-image {
    position: absolute;
}

.showcase-artifacts {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
}

#showcase-artifacts-tray {
    position: relative;
    width: 392px;
    height: 669px;
    top: -72px;
    left: 633px;
}

.showcase-artifact {
    position: relative;
    width: 181px;
    height: 210px;
    margin: 5px;
    position: relative;
    background: rgba(38, 38, 38, 0.36);
}

p.showcase-artifact-set-type {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.02em;
    position: relative;
    margin-top: -16px;
    margin-bottom: -22px;
    text-align: left;
    left: 4px;
}

.showcase-artifact-box {
    text-align: center;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(3px);
}

p.showcase-artifact-set-name {    position: relative;
    position: relative;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.02em;
    margin-top: 4px;
    margin-bottom: 8px;
}

p.showcase-artifact-mainstat {
    position: relative;
    background: rgba(0, 5, 5, 0.18);
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: -36px;
    font-size: 17px;
    line-height: 29px;

    color: #FFFFFF;
}


p.showcase-artifact-substat {
    position: relative;
    font-size: 17px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.74);
    margin: 5px;
    top: 31px;
}

.showcase-back-button {
    position: relative;
    top: 15px;
}